body {
  background-color: rgb(29, 2, 19);
  margin-top: 20vh;
  padding: 0;
}

h1 {
  text-align: center;
  color: #f3f3f3;
}

h2 {
  text-align: center;
  color: #f3f3f3;
}

h3 {
  text-align: center;
  color: #f3f3f3;
}
