* {
  margin: 0;
  padding: 0;
}

/* .buttonAbout {
    width: 100px;
    margin-left: -4px;
    position: sticky;
    top: 0;
    float: right;
    background-color: rgb(196, 162, 140);
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    transition-duration: 0.2s;
    font-family: Stencil Std, fantasy;
    z-index:99999;

  }
  
  .buttonAbout:hover {
    background-color: #b88568; 
    color: white;
    z-index: 1;
  }
*/

body {
  background-color: rgb(29, 22, 19);
}
nav {
  width: 100%;
  height: 60px;
  background-color: rgb(29, 22, 19);
  margin-top: -10px;
  top: 0;
  position: sticky;
}

nav p {
  font-style: oblique;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 900;
  font-variant: small-caps;
  color: #ffffff;
  font-size: 15px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: right;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  font-family: Noto Sans, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 25px 14px;
  display: block;
  text-decoration: none;
  margin-bottom: -13px;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: rgb(29, 22, 19);
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}
nav ul li ul li {
  width: 220px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 20px 14px;
}
nav ul li ul li a:hover {
  background-color: rgb(20, 16, 14);
}

/*.buttonNews {
    width: 100px;
    margin-left: -4px;
    position: sticky;
    top: 0;
    float:right;
    background-color: rgb(196, 162, 140);
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32.7px;
    transition-duration: 0.2s;
    font-family: Stencil Std, fantasy;
    z-index:99999;
  }
    
    .buttonNews:hover {
      background-color: #b88568; 
      color: white;
    }
    */
.smallTitle {
  text-align: center;
  font-family: Stencil Std, fantasy;
  font-size: 3.5vw;
  position: static;
  bottom: 0;
  color: rgb(95, 46, 23);

  background-color: rgb(196, 162, 140);
  text-shadow: rgba(148, 59, 24, 0.432) 4px 3px 0px;
  letter-spacing: 4px;
  -webkit-box-shadow: 5px 3px 4px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 3px 4px 0px rgba(0, 0, 0, 0.36);
}

.video {
  display: block;
  border-style: none;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

}

.iframe {
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 40%;
    margin: 0 auto;
    background-color: #777;

}

.rootbeer {
  width: 20%;
  margin-top: 150px;
  height: auto;

}

.parallax {
  background-image: url("rootbeerBackground.jpg");
  background-color: #2e2520;

  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 980px) {
}
