/* mobiltelefon */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(29, 2, 19);
  
}

#all {
  background: url(https://wallpapercave.com/wp/wp5110611.jpg);
  
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



header {
  position: sticky;
  top: 0px;
  margin-top: -1vh;
}

.parallax {
  background-image: url("rootbeerBackground.jpg");

  height: 100%;
  margin-top: -vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rootbeer {
  width: 20%;
  height: auto;
  margin-bottom: -0vh;
  
}
.rootbeer:hover {
  width: 21%;
  height: auto;
  transition-duration: 1s;
  margin-bottom: -0vh;
}


h1 {
  margin-left: 2vw;
  font-style: oblique;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-variant: small-caps;
  color: #351e0f;
  font-size: 25px;
  text-decoration: underline;
}

nav {
  width: 100%;
  height: 81px;
  background-color: rgb(255, 237, 214);
}

nav p {
  font-style: oblique;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 900;
  font-variant: small-caps;
  color: #ffffff;
  font-size: 15px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
  
}

nav ul {
  float: right;
  margin-top: -2.5vh;
  margin-right: 1vw;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  margin-top: 2vh;
  font-family: Noto Sans, sans-serif;
  color: rgb(46, 34, 22);
  font-size: 15px;
  padding: 10px 14px;
  display: block;
  text-decoration: none;
  font-weight: bold;

}

nav ul li ul {
  display: none;
  position: absolute;
  background-color:  rgb(255, 237, 214);
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}
nav ul li ul li {
  width: 220px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 20px 14px;
}
nav ul li ul li a:hover {
  background-color: rgba(0,0,0,0.1);
}

.smallTitle {
  text-align: center;
  font-family: Stencil Std, fantasy;
  font-size: 35px;
  position: static;
  color: rgba(88, 52, 4, 0.582);
  background-color: rgb(240, 229, 216);
  text-shadow: rgba(66, 21, 4, 0.945)2px 4px 3px 0px;
  letter-spacing: 4px;
  box-shadow: 5px 1000px 4px 1000px rgba(85, 51, 23, 0.541);
}

#recensionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.recension-h {
  margin-top: 10vh;
  color: #f3f3f3;
  text-align: center;
  text-shadow: 2px 2px rgba(75, 59, 59, 0.795);
}
.recension-p {
  margin-top: 2vh;
  color: #f3f3f3;
  text-align: center;
  width: 50vw;
  text-shadow: 2px 2px rgba(75, 59, 59, 0.795);
}

#ingredienserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ingredienser-h {
  margin-top: 10vh;
  color: #f3f3f3;
  text-align: center;
  text-shadow: 2px 2px rgba(75, 59, 59, 0.795);
}

.ingredienser-p {
  margin-top: 2vh;
  color: #f3f3f3;
  text-align: center;
  width: 50vw;
  text-shadow: 2px 2px rgba(75, 59, 59, 0.795);
}

.iframe {
  width: 70vw;
  height: 50vh;
  margin-top: 4vh;
  margin-left: 15vw;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 60px 6px rgba(0, 0, 0, 0.78);
}


.footer {
  background-color: #161515;
  color: #f3f3f3;
}


/* tablet */
@media (min-width: 600px) {
}

/* laptop och desktop */
@media (min-width: 980px) {
}
