/* mobiltelefon */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(29, 22, 19);
}
.parallax {
  /* The image used */
  background-image: url("rootbeerBackground.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rootbeer {
  width: 30%;
  height: auto;
}

.smallTitle {
  text-align: center;
  font-family: Stencil Std, fantasy;
  font-size: 3.5vw;
  position: static;
  color: rgb(95, 46, 23);
  background-color: rgb(196, 162, 140);
  text-shadow: rgba(148, 59, 24, 0.432) 4px 3px 0px;
  letter-spacing: 4px;
  -webkit-box-shadow: 5px 3px 4px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 3px 4px 0px rgba(0, 0, 0, 0.36);
}

.video {
}

.iframe {
  width: 100%;
}

#recensionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.recension-h {
  color: #f3f3f3;
  text-align: center;
}
.recension-p {
  color: #f3f3f3;
  text-align: center;
}
/* tablet */
@media (min-width: 600px) {
}

/* laptop och desktop */
@media (min-width: 980px) {
}
